{% extends "app/base.html" %} 
{% block head_title %} Close Cut Off {%endblock %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Close</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ cut_off.get_absolute_url }}">{{ cut_off }}</a>
    </li>
    <li class="breadcrumb-item">Close</li>
  </ol>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Are you sure you want to close the cut-off:
          <strong>{{ cut_off }}</strong>?
        </p>
        <form action="" method="POST">
          {% csrf_token %}
          <input class="btn btn-info" type="submit" value="Yes, close." />
        </form>
      </div>
    </div>
  </div>
  <!-- /.col-md-6 -->
</div>
<!-- /.row -->

{% endblock %}
